@font-face {
	font-family: "amatic_scregular";
	src: url("amaticsc-regular-webfont.eot");
	src: url("amaticsc-regular-webfont.eot?#iefix") format("embedded-opentype"), url("amaticsc-regular-webfont.woff2") format("woff2"), url("amaticsc-regular-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "montserratregular";
	src: url("montserrat-regular-webfont.eot");
	src: url("montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("montserrat-regular-webfont.woff2") format("woff2"), url("montserrat-regular-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "lucida_granderegular";
	src: url("lucidagrande-webfont.eot");
	src: url("lucidagrande-webfont.eot?#iefix") format("embedded-opentype"), url("lucidagrande-webfont.woff2") format("woff2"), url("lucidagrande-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "icomoon-alt";
	src: url("icomoon-alt.eot?d1um05");
	src: url("icomoon-alt.eot?d1um05#iefix") format("embedded-opentype"), url("icomoon-alt.ttf?d1um05") format("truetype"), url("icomoon-alt.woff?d1um05") format("woff"), url("icomoon-alt.svg?d1um05#icomoon-alt") format("svg");
	font-weight: normal;
	font-style: normal;
}